.container {
	font: 12px/18px 'Avenir Next', 'Avenir', Helvetica, Arial, sans-serif;
	background: #fff;
	/*color: #3788DB;*/
}

ol, ul { list-style: none; }

.container {
	width: 800px;
	margin: 0 auto;
}

.header {
	color: #6DBCDB;
	float: left;
}

.sort-by-location {
	padding-top: 20px;

	/*border: 1px solid red;*/
	float: right;
}

#container #navigation a, a:visited
{
	color: black;
}

.pools {
	margin: 0;
	padding: 0;
	width: 800px;
	overflow: hidden;

	border-top: 1px solid #6DBCDB;
}

.pool {
	width: 800px;
	height: 65px;
/*	float: left;*/
	overflow: hidden;
}

.pool:nth-child(odd) {
	background: #6DBCDB;
}

.pool__name {
	float: left;
	padding-left: 5px;
}

.pool__hours {
	float: right;
	padding-right: 5px;

	text-align: right;
}

.pool__hours__current {
	margin-bottom: 0;
}
.pool__hours__current--closed .pool__hours__current__hours {
	text-decoration: line-through;
	color: #CC0000;
}

.pool__hours__all {
	padding: 0;
	margin: 0;
}

.pool__hours__current__days {
	font-weight: normal;
}
